#playBtn {
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 2em;
  border: none;
  border-radius: 20px;
  background: #df4a65;
  color: rgb(49, 171, 102);
  cursor: pointer;
  transition: 0.3s;
}

#playBtn:hover {
  background: #c21c40;
  transform: scale(1.05);
}