#playBtn {
  margin-top: 40px;
  padding: 15px 25px;
  font-size: 1.2em;
  border: none;
  border-radius: 20px;
  background: #df4a65;
  color: rgb(66, 207, 174);
  cursor: pointer;
  transition: 0.3s;
}

#playBtn:hover {
  background: #c62c4e;
  transform: scale(1.05);
}