#playBtn {
  margin-top: 40px;
  padding: 20px 30px;
  font-size: 2em;
  border: none;
  border-radius: 30px;
  background: #44dfd0; /* pink background */
  color: #dc4294;      /* blue-green text */
  cursor: pointer;
  transition: 0.3s;
}

#playBtn:hover {
  background: #72d2ba;
  transform: scale(1.08);
}